body {
  font-family: $F-main;
  color: $C-secondary;
  background: white;
}

body, html {
  font-size: 10px;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  color: $C-secondary;
}

.container{
  max-width: 1280px;
  margin:  5rem auto;
}

h1 {

}

h2 {

}

h3 {
  font-size: 3rem;
  padding: 1.5rem 0;
  margin: 0;
  //line-height: ;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

.button {
  margin: 0 2rem;
  padding: .7rem 2rem;
  background-color: $C-charcoal;
  color: white;
  border: none;
  border-radius: 3px;
  text-decoration: none;

  &--form {
    width: 150px;
    margin: 3rem auto;
  }
}

.cart-btn {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}